
.about {
  padding: 2rem;
  background: #d12020;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
}

.about h1 {
  font-size: 2.5rem;
  color: #333;
  text-align: center;
}

.about p {
  font-size: 1.2rem;
  color: #777;
  text-align: center;
  margin-top: 1rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.about-image {
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.about-text {
  max-width: 600px;
  text-align: left;
}

.about-text h2 {
  font-size: 1.8rem;
  color: #333;
  margin-top: 1rem;
}

.about-text p {
  font-size: 1.2rem;
  color: #555;
  margin-top: 0.5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
